
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: #d9dcd6;
}

.header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c;
    color: #ffffff;
}

.header h1 {
    display: inline-block;
    font-size: 48px;
}

.header h1 .seo {
    color: #d9dcd6;
}
/*Needed to change the class selector from div from all the .header selectors that contained div, into nav, for CSS properties to apply to the change from div tag to nav in html file*/

.header nav {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}
/*Removed .header nav ul selector and added it property to .header nav li to consolidate code*/
.header nav ul li {
    display: inline-block;
    margin-left: 25px;
    list-style-type: none;
}

a {
    color: #ffffff;
    text-decoration: none;
}
/*moved location of .hero selector to match that of semantic format*/
.hero {
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    background-size: cover;
    background-position: center;
}
/*Moved location ot .content selector to match that of semantic format*/
.content {
    width: 75%;
    display: inline-block;
    margin-left: 20px;
}

p {
    font-size: 16px;
}
/*.float left is being used for search engine optimization and social media marketing images*/
.float-left {
    float: left;
    margin-right: 25px;
}
/*.float right is being used for online reputation management*/
.float-right {
    float: right;
    margin-left: 25px;
}

/*moved current selectors from 75-127 from where they originally were to lines 75-127 and reorganized them to match the semantic format on HTML*/
.article {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}
/*consolidated selectors into article class*/
.article img {
    max-height: 200px;
}
/*consolidated selectors into article class*/
.article h2 {
    margin-bottom: 20px;
    font-size: 36px;
}
/*Consolidated lines 87 - 115 of class selectors (.benefit-lead,.benefit-brand,.benefit-cost, and the same selectors with h3 tags with them) into .benefits class selector*/
/*Fixed padding to match as closely to that of current website (OG was 20px changed it to 55px */
.benefits {
    margin-right: 20px;
    padding: 55px;
    clear: both;
    float: right;
    width: 20%;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #2589bd;
    margin-bottom: 32px;
    color: #ffffff;
    margin-bottom: 10px;
    text-align: center;
}
/*and also Consolidated .benefit-lead img, .benefit-brand img,.benefit-cost selectors under the .benefits class selector*/
.benefits img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}

.footer {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}

.footer h2 {
    font-size: 20px;
}
